[2015-04-23 13:42] Gashzilla opened #1 "Question on Update for Existing X"
I didn't see in your example, or in the code, a very clean way to send an update for an already created run and case. I am fairly new to TestRail in general, but am hoping to integrate your client in order to update runs and cases that are established before the execution occurs.

Thanks!!!

[2015-05-02 00:05] kunal546 commented on #1
Once you get an instance of TestRail class, to update runs, you can use
[code]

Similarly, you can update cases. Convention is -
[code]

Hope this helps you. You can download javadoc.jar artifact from maven (link on project homepage) which has the javadoc and explore TestRail class for all the requests.

[2015-05-02 00:05] #1 closed

[2015-07-17 15:21] alexeyOnGitHub opened #2 "NPE in FieldDeserializer.deserialize when loading list of case fields"
using testrail-api-java-client 1.0.0 from Maven Central.

TestRail v4.1.0.3294

code:

[code]

exception:

java.lang.NullPointerException
    at com.codepine.api.testrail.internal.FieldModule$FieldDeserializer.deserialize(FieldModule.java:65)
    at com.codepine.api.testrail.internal.FieldModule$FieldDeserializer.deserialize(FieldModule.java:51)
    at com.fasterxml.jackson.databind.deser.std.Coll

[2015-07-17 15:39] alexeyOnGitHub opened #3 "support testRail.cases().list(projectId, suiteId) API"
I see this API for loading cases:

        client.cases().list(projectId, suiteId, customCaseFields).execute();

which is not consistent with other calls, like

        client.milestones().list(projectId).execute();

why is there a need to provide a list of customCaseFields to this method?
the following REST API call returns list of cases with all custom fields set:

    "index.php?/api/v2/get_cas

[2015-07-17 16:25] alexeyOnGitHub opened #4 "operate on Collections rather than Lists"
Hi! I see this API:

        client.results().add(runId, results, customResultFields).execute();

results has to be a List. why not just Collection?..

[2015-07-17 16:48] alexeyOnGitHub opened #5 "ignore unknown custom fields"
this is kinda related to Issue #2 .

I'm looking for a workaround that would eliminate the need to load custom fields from server (which results in NPE):

[code]

so I tried this:

[code]

but I get:

[code]

so, if I only care about 1 particular custom field for these results, I would expect the API to not fail for any other custom fields I don't know / don't care about.

also, in a more common s

[2015-07-17 17:09] alexeyOnGitHub commented on #2
workaround until this is fixed: loading fields directly from REST API:

    public Collection<Case> getCases(int projectId, int suiteId) throws IOException {
        final String body = get("index.php?/api/v2/get_cases/" + projectId + "&suite_id=" + suiteId).getBody();
        final JSONArray array = new JSONArray(body);
        final Collection<Case> cases = new ArrayList<>(array.length());

[2015-07-17 19:26] kunal546 commented on #4
Since List extends from Collection:
- it allows for some more operations compared to the Collection.
- caller still has the option of using reference type Collection if not interested in List operations but it could not have happened the other way around without checking the implementation type explicitly.

Besides having the flexibility to change the implementation in future for e.g. to Set or Qu

[2015-07-17 20:42] alexeyOnGitHub opened #6 "when server gives 301 response, should process the new URL correctly"
I guess our server is configured in a bit weird way... but it returns 301 for TestRail URLs and then still works.
the library, though, only accepts 200 (OK) and considers 301 to be an error (which is actually a valid situation).

I wonder if you could process 301 "moved permanently" response in the lib...

com.codepine.api.testrail.TestRailException: 301 - server did not send any error message
 at

[2015-07-17 21:09] kunal546 commented on #6
It should follow the redirects (for GET) automatically. I think it won't if the redirect is from HTTP to HTTPS or vice-versa. Is that the case?

[2015-07-17 22:44] alexeyOnGitHub commented on #6
I'm working with our IT to figure out how redirect works in that environment..
maybe it is a problem with the server configuration. but still - I see this check for one specific code 200 in Request class:

            if (responseCode != HttpURLConnection.HTTP_OK) {

[2015-07-17 22:52] alexeyOnGitHub commented on #4
well, I had some Collections in my app and I was surprised to see that the API expects Lists rather than more generic collections.
a List indicates that elements are (at least supposed to be) ordered elements: you can traverse them in a certain order. if ordering is NOT important for the API (and I think it is not), then IMHO it should accept Collections instead and then traverse them through iter

[2015-07-18 01:49] kunal546 commented on #6
Java HttpUrlConnection follows redirects by default so the redirects are taken care of before it reaches that statement.

[2015-07-18 17:36] kunal546 commented on #6
You can set the endPoint in the TestRail.Builder to the location where it's "moved permanently". There is also an option to override the default apiPath in TestRail.Builder which by default is "index.php?/api/v2/".

[2015-07-18 18:00] alexeyOnGitHub commented on #6
alright, let's close this as "user error". I think the problem is that the network configuration in that environment where I tried running this app was screwed up -  it did several redirects, possibly to HTTPS and then back.

[2015-07-18 18:00] #6 closed

[2015-07-19 18:56] kunal546 commented on #2
I tested this on my end and it does not seem to be an issue even when I remove all custom fields from TestRail. TestRail server also returns an empty JSON array for the same which gets correctly deserialized.

In your case, it seems like the server response is 200 OK but the body is something else (may not even be reaching TestRail server). Did you get any other APIs working with the same TestRail

[2015-07-19 20:25] kunal546 commented on #5
Also related to issue #3 which translates to "ignore all custom fields".

There could also be a scenario where the type of the custom field changes on server side due to which the API fails. In this case, it would be good to fail-fast due to "outdated" field list.

But in general, I agree with the idea of not making custom fields a requirement.

Currently, once you have an instance of Case, there

[2015-07-20 00:05] kunal546 commented on #4
I agree that expecting Collection would have made better APIs since ordering is not important. For returning elements, the intention was to maintain (and guarantee) the element order present in the service response.

The List properties in models cannot be changed now else it'll break backwards compatibility. But in general, I don't see this as a blocking/critical issue so I'll mark this as "won't

[2015-07-20 00:05] #4 closed

[2015-07-20 00:07] alexeyOnGitHub commented on #4
well, I'll just create a new immutable list each time I need to call the API.

[2015-07-20 00:18] alexeyOnGitHub commented on #2
do you have  same version of TestRail?
our networking configuration is screwed up indeed , but I use my laptop as a "baseline": all integration tests work when I run them on my laptop - except for this request to get case fields.
maybe it's some weird custom field created in our TestRail instance that does not get those "configs" - can they be ignored if not found in response?
maybe that field is

[2015-07-28 19:00] alexeyOnGitHub opened #7 "java.lang.Class.getDeclaredFields0: Expecting a stackmap frame at branch target"
got this when using the library in a Jenkins plugin:

[code]

[2015-07-28 23:23] alexeyOnGitHub commented on #7
looks like it's a problem with my JDK. one of the servers was using OpenJDK 1.7 instead of Oracle JDK 1.7... I'll close this.

[2015-07-29 00:20] alexeyOnGitHub commented on #7
interesting... still have the same problem. do you remember what JDK version did you use? the exact version, including Oracle/OpenJDK/etc.

It seems like the Jenkins plugin I'm working on can be compiled with this library, but then JVM fails to parse. so there is source/signature compatibility, but no binary compatibility.

[2015-07-29 00:37] alexeyOnGitHub commented on #7
my current theory is that the problem is related to Lombok that you are using.
I verified that if I comment our the library calls I don't get JVM failures in Jenkins.

[2016-02-19 20:05] fouadz opened #8 "Unable to query for cases with TestRail 5.2 or later."
TestRail introduced a new concept of Templates. The case query returns a new field called template_id.

[code]

[2016-02-26 14:32] humanium commented on #8
Could someone provide any estimates on this?

[2016-02-27 19:35] kunal546 commented on #8
I will work on the fix to make Case compatible with TestRail 5.2 and release it in a couple of days.

[2016-02-27 20:35] #8 closed

[2016-05-04 14:27] paxcow opened #9 "configIds and caseIds of plan.entry"
configIds and caseIds are beings et for a plan.entry. however when adding that entry to a plan, the configs and selected cases are not added.

[2016-05-16 19:38] kunal546 commented on #9
You need to explicitly setIncludeAll(false) for Plan.Entry. This is the behavior by TestRail API.

[2016-05-16 19:38] #9 closed

[2016-05-17 06:23] paxcow commented on #9
kunal, cannot set caseIDs aswell, should i be setting it for an entry or a run within the entry ? (both not working tho )

[2016-05-17 23:37] kunal546 commented on #9
Setting include_all to false (via Plan.Entry#setIncludeAll) and setting case_ids (via Plan.Entry#setCaseIds) works for me. Can you please paste your code and what is your intent?

From the documentation at http://docs.gurock.com/testrail-api2/reference-plans#add_plan_entry (see example) -
[code]

[2016-05-18 07:29] paxcow commented on #9
What I'm trying to do is, add certain test cases and configs to an existing test plan, so heres my code:

        Plan.Entry newEntry = new Plan.Entry();
        Plan.Entry.Run tempRun = new Plan.Entry.Run();
         List setRuns = new ArrayList<>();

// I add a couple of runs with the following attributes in a for loop here
                tempRun.setConfigIds(thisRun.getConfigIds());

[2016-06-13 01:10] shaburov opened #11 "411"
[code]

Covert exception:
`Caused by: java.io.IOException: Server returned HTTP response code: 411 for URL: http://<host>/index.php?/api/v2/delete_run/15`

Log: 2016-06-13 03:33:43 DEBUG Request:145 - Response Code : 411

Pull request: https://github.com/codepine/testrail-api-java-client/pull/10

[code]

[2016-06-25 18:57] kunal546 commented on #11
Hi, I am unable to repro this issue. Which TestRail version are you using?

[2016-06-25 19:20] OlegusTesterovichus commented on #11
Hi, I am using TestRail v 5.2.1.3472 (last version).

[2016-09-12 05:40] pavetok commented on #11
+1

[2016-09-12 05:43] pavetok commented on #11
When I try to close:
        testRailApi.runs()
                .close(testRailRun.getId())
                .execute();

[2016-12-17 17:56] #11 closed

[2017-01-24 22:31] marcmyers opened #14 "Failed to getValue() with method com.codepine.api.testrail.model.Result#getCustomFields(0 params): null (through reference chain: com.codepine.api.testrail.model.Result["[anySetter]"])"
I've been banging my head on this for about a week straight now and can't figure out why this is happening.

I'm using the latest stable version of the testrail-api-java (1.0.1) in a mavenized java 1.8 project with the latest Selenium and TestNG.

I'm attempting to update a test run with the results of a test using the following code:
[code]

The update was failing with a RuntimeException:
[code]

[2017-01-30 18:47] jpederzolli commented on #7
@alexeyOnGitHub this is actually a Jenkins bug (https://issues.jenkins-ci.org/browse/JENKINS-28781)

[2017-01-30 22:00] Kate5 opened #15 "Can not deserialize instance of java.util.ArrayList out of VALUE_STRING token for "config" property"
Hi everyone!
I receive following error
[code]

when execute request for loading test run
`testRail.runs().get(some_id).execute()`

This error appears when server response contains not null config property
`"config":"some_value"`
Could you help please?

[2017-02-16 17:32] jaymagpantay commented on #14
I am getting the same error. Any help would be appreciated.

[2017-02-17 01:05] jaymagpantay commented on #14
So I think I figured out the problem:

The issue is with the Result.getCustomFields method, which is defined as
[code]
I looked up Objects.firstNonNull and found that this was part of Guava. In the docs for Guava 20.0 (http://google.github.io/guava/releases/20.0/api/docs/com/google/common/base/Objects.html#firstNonNull-T-T-), I found this interesting tidbit:

public static <T> T firstNonNull(@Null

[2017-02-24 12:38] jaymagpantay commented on #14
@kunal546 Would it be possible for you to update getCustomFields to  use MoreObjects.firstNonNull? Thank you.

[2017-03-20 10:11] romansmat opened #17 "Include sectionId in tests().list() response content"
Test rail API method _get_cases_ response content includes a _sectionId_ field for each case. Can you please  include this in the _Test_ Object in order for the sections to be retrieved for all cases at once and avoid a _get_case_ call for each case just for the _sectionId_ ?

[2017-04-10 07:17] gogonutsss commented on #15
I do receive a similar runtime exception when I send testRail.plans().get(planId).execute() for a test plan that has run(s) inside as a result of usage of Groups/Configuration feature of TestRail.

Any plan to fix this or any workaround idea?

[2017-06-14 09:52] andrei-khveras opened #20 "Stop using obsolete Guava methods or Guava itself"
As of v. 1.0.2 it has Guava 16.0.1 included into its dependencies.
However, as of now, current Guava version is 22.0.
As many projects include the latest Guava as dependency, v 16.0.1 gets overriden.
That causes in error in TestRail API client as many methods it relies on are deprecated.
In particular, when executing client.results().addForCases(testRunId, testResults, customResultFields).execute(

[2017-06-14 10:10] andrei-khveras commented on #20
Figured out that the fix is in the mainstream already, but not released yet.
I'll make a local release for now.

[2017-06-14 10:10] #20 closed

[2017-07-14 20:52] chelyuk commented on #14
Hi guys, could you please update to latest version in maven repository, please. This issue is really "show stopper" for me to use api-client. Because version in maven still depends on guava 16.0.1 but all Selenium Drivers already depends on guava 21. So, it is impossible to use the in api-client in projects with Selenium testing. If I can help in any way I would be pleased.

[2017-07-23 09:12] Rathore4u commented on #8
Did this release happen  ?

[2017-07-28 19:46] klubi opened #21 "old guava causes issues"
Hi
I have a pretty big framework, and I wanted to push results to TR, this library is awesome, but seems like version 1.0.2 uses old guava version which is in conflict to version 21.0 I already have in project.

Is there a chance for soon release of newer version with new java, since it's already in the repo?

Thanks

[2017-07-31 10:30] klubi opened #22 "how do I create a test run with only assigned tests"
When I create new Run it always creates a run with all tests in suite.

In my case this is an unwanted behavior, how can I create Run that will contain only cases pass with `setCaseIds(...)`

[2017-07-31 14:06] klubi commented on #22
ehh.. Sorry for this... I should have read TestRail API docs prior to opening this ticket...
`include_all` field solved it...

[2017-07-31 14:06] #22 closed

[2017-08-16 21:37] welnanick commented on #21
@kunal546 please release an update. This library is currently incompatible with anything that uses guava 21.0 or higher.

[2017-08-16 21:38] welnanick commented on #14
I am running into the exact same issue using appium (which in turn uses selenium), and do not have the option to force Guava < 21.0. @kunal546 please release an update. This library is currently incompatible with anything that uses guava 21.0 or higher.

[2017-08-17 13:00] adchaos commented on #14
@kunal546 same issue here :)

[2017-08-19 17:41] kunal546 opened #23 "Upgrade to JDK 8"

[2017-08-19 19:13] #23 closed

[2017-08-19 19:14] kunal546 commented on #21
Sorry for the delay. v2.0.0 has been released which addresses this.

[2017-08-19 19:14] #21 closed

[2017-08-19 19:14] kunal546 commented on #14
Sorry for the delay. v2.0.0 has been released which addresses this.

[2017-08-19 19:14] #14 closed

[2017-08-19 19:15] kunal546 commented on #7
Seems like it'a a Jenkins bug. Closing it. Please re-open if this is still an issue.

[2017-08-19 19:15] #7 closed

[2017-08-19 19:22] kunal546 commented on #2
Closing since it is related to #3.

[2017-08-19 19:22] #2 closed

[2017-08-19 19:24] #5 closed

[2017-08-29 11:52] szabolcslevay opened #24 "Update run will not keep old data"
Hello,

Let's say that my Test Run **1234** contains two test cases: **111** and **222**. If I call an update to this run via `setCaseIds` to include test case **333** as well, then my run will contain only test case **333** and the old test cases will be deleted.

code:
[code]

Is there a way to add test cases one by one to a run without losing the original content?

Thanks,

[2017-08-29 23:48] kunal546 commented on #24
TestRail does not support an `add/append` operation. It only supports `set/override` operation.

Currently, the only way to do that is:

`
Run activeRun = testRail.runs().get(1234).execute();
List<Integer> testCaseIds = activeRun.getCaseIds() == null ? new ArrayList<>() : new ArrayList<>(activeRun.getCaseIds());
testRail.runs.update(activeRun.setCaseIds(testCaseIds)).execute();
`

A potential enha

[2017-08-30 06:21] szabolcslevay commented on #24
Thank you, @kunal546 for your quick answer. Fixed my issue.
Keep up the good work!

[2017-08-30 09:27] #24 closed

[2017-09-08 18:49] fabiohast opened #25 "Submilestones missing from get_milestone"
Hi everyone!

The milestones field (submilestones of a given milestone) is missing in get_milestone request.

![image](https://user-images.githubusercontent.com/31777950/30226683-d3dbf158-94ce-11e7-8661-6a4e572f2559.png)

Btw thanks for creating this great tool, it has helped me a lot!!

[2017-09-13 05:04] gauravpatel2016 opened #26 "How do i create a test run> include all test cases from my suite to test plan"
Hello,

I have created a test plan [Manually]. I have list of test cases in test suite. I would like to add all test cases from suite to a test run in existing test plan. Went through document but couldn't figure out.

Tried:
Run run = testRail.runs().add(34, new Run().setPlanId(45237).setSuiteId(12345).setName("Weekly Regression")).execute();

It creates a test run but not in test plan. Tried Pla

[2017-09-13 18:42] gauravpatel2016 commented on #9
I have similar issue.

Here is my code:

 // Create a Test Run Entry
    Plan.Entry newEntry = new Plan.Entry();
    Plan.Entry.Run tempRun = new Plan.Entry.Run();
    List setRuns = new ArrayList<>();

    // Set parameters of entry
    tempRun.setName("Check").setProjectId(34).setPlanId(45237).setSuiteId(10685).setIncludeAll(false).setCaseIds(myList);
    setRuns.add(tempRun);
    newEntry.setRu

[2017-09-13 18:43] gauravpatel2016 commented on #26
I tried this:

[code]

No luck

[2017-09-14 16:38] gauravpatel2016 commented on #26
Solved::::
[code]

[2017-09-14 16:38] #26 closed

[2017-10-31 14:48] hugomcconnell commented on #15
Hi,

I'm experiencing he same issue - is there a plan to fix this?

[2017-11-13 14:28] bdfariello opened #27 "Cannot add new Test Run to a Test Plan"
Hi,

Inside a milestone, I am doing the following:

1. Create a new Test Plan.
2. Create a new Test Run
3. Configure the new Run with a Suite ID, a Milestone ID, an Assigned To ID, and a Plan ID (the one from the created plan)
4. I log the pre-created Run object (using log4j2) and see it has the expected Plan ID
5. I create the run.
6. I log the Run object (post-creation), and see it now has a 'nu

[2018-01-04 18:54] bdfariello opened #28 "Cannot get Entries from plan"
Code to reproduce:

        List<Plan> planList = TR.plans().list(projectId).execute();
        for (Plan plan : planList) {
            System.out.println(String.format("Plan name: %s. id: %s, entries: %s", plan.getName(), plan.getId(), plan.getEntries()));
        }

the call to getEntries() is returning null, even though I can make the API call directly to TestRail (it's hosted, so it's the lat

[2018-01-17 00:11] gulwaniv commented on #15
I am facing same issue, please fix.

[2018-01-17 18:12] hordas opened #29 "Unable to delete Entry from testplan using EntryId"
Constructor in class DeleteEntry has second parameter integer entryId, while Entry instance received from TestRail contains String field with UUID value as entryId.  ( http://docs.gurock.com/testrail-api2/reference-plans ). Thus it is not possible to delete entry using current version of testrail-api-
java-client.
![delete_entry_bug](https://user-images.githubusercontent.com/11083984/35059098-1aa7

[2018-02-02 14:29] dengrgry opened #30 "How to use customfields"
I'm having issues with required custom fields. Can someone point me out how to properly use them?

I add a custom field map to my test case result:
`result.setCustomFields(customParameters)`

When i check the value of the custom field in my result, it's correct.
After the test run I report my results with this code:
[code]
But i'm still getting an error that custom field X is required. Without the

[2018-02-05 08:59] dengrgry commented on #30
@kunal546 can you maybe help me?

[2018-02-07 16:41] ipolihas opened #31 "How to add test case into run?"
Is it possible to add test case into run when I have a test case ID and run ID?
If yes, which method should I use?

[2018-06-19 23:50] dularijb opened #32 "i cannot find results()"
while trying to add results, i get an error saying it cannot resolve symbol results()

 // add test result
    List<ResultField> customResultFields = testRail.resultFields().list().execute();
    testRail.results().addForCase(run.getId(), testCase.getId(), new Result().setStatusId(1), customResultFields).execute();

can you please post the complete example?

[2018-08-02 19:52] RyanAltman opened #33 "DatatypeConverter alternative for Android"
We have found that the javax `DatatypeConverter` is not available when using this library in Android instrumentation testing. As a workaround we have provided our own `DatatypeConverter.printBase64Binary` implementation, but it would be nice to have an alternative when using this library within the Android ecosystem.

[2018-08-17 18:09] davidbrazilparker opened #34 "Ongoing Development in new Fork"
Hello everyone! As far as I can tell the original author of this repo is no longer actively maintaining/developing this software. I've created a new forked version with updates to support features available in TestRail API version 5.3:

https://github.com/chapeco/testrail-api-java-client

Going forward, I am planning on supporting the issues that are still open in this repo. I will just need to mo

[2018-08-17 18:11] davidbrazilparker commented on #34
New dependency can be found here:

https://search.maven.org/artifact/io.github.chapeco.api.testrail/testrail-api-java-client/2.0.2/jar

[2018-08-17 19:15] davidbrazilparker commented on #31
It's not possible to add a test `case` to a `run`. A TestRail `run` only contains `tests` which contain a reference to the original `case`.

[2018-08-17 19:31] davidbrazilparker commented on #30
Example of setting custom case fields and updating a `case`.

[code]

[2018-08-17 22:33] kunal546 commented on #34
Hi! While I agree that I have been unable to dedicate time for this project, I don’t think creating a separate copy is the right solution. I don’t think it is a good customer experience and expect people to keep changing dependencies (is there a guarantee that the new repo will be supported forever).

The idea behind an open source project was to have everyone contribute via pull requests. I sugge

[2018-09-25 16:16] Nupurgos commented on #28
This should be fixed once this change is merged https://github.com/codepine/testrail-api-java-client/pull/36

[2018-10-08 10:52] GuiMiran commented on #15
hi i have same Issue, i hope this solution. Thnaks !

java.lang.RuntimeException: com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instance of java.util.ArrayList out of VALUE_STRING token
 at [Source: java.io.BufferedInputStream@4034c28c; line: 1, column: 1217] (through reference chain: com.codepine.api.testrail.model.Plan["entries"]->com.codepine.api.testrail.model.Entry[

[2018-10-11 19:41] michaelmendoza42 commented on #15
same issue here. i see a PR with a potential fix. can we get that reviewed/merged?

[2018-10-25 09:55] patryksandomierski commented on #31
@ipolihas You can try doing this:
`yourRun.setCaseIds(youListOfCases)` and then `runs().update(yourRun).execute()`
Still it's not usefull since (I dont know why) I can't retrieve list of previous cases: `run.getCaseIds()` returns `null` and every time previous added cases will be removed...

[2018-12-02 20:33] #34 closed

[2018-12-02 20:38] kunal546 commented on #30
Thanks @davidbrazilparker !
@dengrgry are you still having an issue?

[2018-12-02 20:47] kunal546 commented on #32
Sounds like you are having a compilation error. For an instance of class `com.codepine.api.testrail.TestRail`, you should be able to resolve `results()`.

Ref: https://github.com/codepine/testrail-api-java-client/blob/master/src/main/java/com/codepine/api/testrail/TestRail.java#L225

If this is still an issue for you, please re-open this issue with a complete stack trace.

[2018-12-02 20:47] #32 closed

[2018-12-02 22:10] #29 closed

[2018-12-20 16:40] Dyadko opened #37 "impossible to get response size"
calling for a plan, a run, a milestone, etc... limit of results is 250. since the whole results list size is unavailable, it's unable to know how many offsets (`testRail.plans().list(5).offset(250).execute()`) needed to enumerate all the results.

[2018-12-23 03:53] kunal546 commented on #37
I am unable to understand your question completely. The TestRail API provides two request parameters related to pagination - `limit` and `offset`. Ref: http://docs.gurock.com/testrail-api2/reference-plans#get_plans

The idea is to get a single page of results and keep iterating until you get to results which are less than the `limit` or to be safe until you hit an empty page. Here's one way to con

[2018-12-23 03:53] #37 closed

[2019-01-02 16:10] RyanTheBold opened #38 "jackson-joda 2.3.1 conflicts with modern apps"
The version of jackson datatypes(2.3.1) is several years old now. Any chance of updating it to 2.9.8 ?

[2019-01-16 13:57] nikitchuk opened #39 "getCaseIds() in Run returns null"

[2019-01-16 14:50] nikitchuk commented on #39
fount  bad but  solution  TestRail.tests().list(run.getId()).execute()  and after this  get all  caseId from list

[2019-05-15 09:01] DarrMirr opened #40 "Attachments"
Hi there!

Thanks for useful and convenient client for Test Rail Api!

Test Rail Api support add attachments.
http://docs.gurock.com/testrail-api2/reference-attachments

Is it possible to add attachments to client?

P.S. I think I can develop it by myself and create pull request. But I have issue with compile project.

[code]

[2019-06-11 12:19] AliaksandrNovik opened #41 "Can't configure proxy for Request class"
It is possible to configure proxy for execute() method? If not, can we do it?

[2019-07-01 00:12] kunal546 commented on #30
Closing this. Please re-open if you still need help.

[2019-07-01 00:12] #30 closed

[2019-07-30 10:53] unix-junkie opened #43 "Results#add(int, List<Result>, List<ResultField>) leads to HTTP 400: "Field :results.test_id is a required field.""
Whenever I try to bulk-submit test results (via the `Results#add(int, List<Result>, List<ResultField>)` API), I get:

[code]

-- most probably the `testId` field of the newly-created `Result` object is ignored.

As a workaround, I currently use the `Results#addForCases()` API.

_TestRail_ version is **6.0.0.4140**.

[2019-07-30 15:07] davidbrazilparker commented on #43
I'm curious, how are you calling the `Results.add()` method? I don't maintain this project but I have utilized it in the past.

[2019-07-30 16:46] unix-junkie commented on #43
@davidbrazilparker Thanks for your response David.

First, I've declared the factory method which produces a `Result` per `Test`. In _Kotlin_:

[code]

Then, I map each `Test` in a `Run` to the `Result` object:

[code]

[2019-07-31 20:22] davidbrazilparker commented on #43
First of all, Kudos for using Kotlin. It's my go to language now for developing in JVM and overall my preferred language of choice for development in general.

More importantly, I think I found your issue.

Currently you're receiving an error when calling:

`results.add(run.id, testResults, resultFields).execute`

For the following reason:

[code]

This is the method you're calling currently. Whic

[2019-07-31 20:30] davidbrazilparker commented on #43
I'll look into this more when I have time. I am not sure I found the root cause definitively.

[2019-08-04 02:58] davidbrazilparker commented on #43
Working on reproducing your error right now. You can check in on my progress here: https://github.com/chapeco/KotlinTestRailCodepineDebug

[2019-08-04 05:00] davidbrazilparker commented on #43
Okay so I think I know what the underlying issue of this particular behavior is. I am confident that it is a bug with how this API client sends the "list" of results.

According to this post on the official Gurock forums - https://discuss.gurock.com/t/add-results-returns-an-error/2414
It is required that the "list" of results be sent to the API as a Map object. Which in this case I'm assuming it i

[2019-08-06 16:42] unix-junkie commented on #43
@davidbrazilparker Thanks for your investigation David. I will take a closer look in a short while.

[2019-12-31 13:10] klubi opened #45 "Any chance to update lib, to support latest test rail version?"
Hi

This library supports TestRail in 4.1 version, while latest one is 6.1.+.
Is there a chance for update? Looks like there is a set of nice new endpoints that could be added.

[2020-01-07 06:09] dandanhanzju opened #46 "com.codepine.api.testrail.model.Case can contains properties display_order?"

[2020-01-20 06:58] gavrilfb opened #47 "Cannot set template for cases"
Currently the Case class don't have templateId in it, so I guess there is no way to pick which template you want to use if your server have more than 1.

Please add methods to let us choose which templateId we want to use for said cases.

[2020-02-27 01:08] kyxap opened #48 "Disable SSL validation"
Is there any way to disable ssl validation?

PS: I work with local testrail instance behind the firewall

[code]

[2020-03-10 14:07] yuriy-khortashko commented on #27
I have faced the same issue.
Entry, not Run should be added to Test Plan.
This code works for me:
[code]

[2020-04-05 14:00] aqaexplorer opened #50 "Implemented Attachments API. Can't do a pull request"
Hi! I have implemented Attachments API in your framework as i need it in our project and it is very convenient to use your library. I have tested and checked it. I can't do a pull request as i don't have permissions to push into your repo. Can you please help me with this? I have done a separate branch for this so you can review my code. It is quite urgent for me so I will be very grateful if you

[2020-04-11 18:22] kunal546 commented on #45
Hi! I am unable to devote the (required) time maintaining this library. But I have always encouraged contributions and hope that the community is able to drive the updates. Please feel free to open PRs.

[2020-05-21 11:51] ayarem opened #52 "Cannot construct instance of `com.codepine.api.testrail.model.Configuration$Config` (although at least one Creator exists): non-static inner classes like this can only by instantiated using default, no-argument constructor"
Hi!
I'm receiving this RuntimeExceprion
`com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot construct instance of `com.codepine.api.testrail.model.Configuration$Config` (although at least one Creator exists): non-static inner classes like this can only by instantiated using default, no-argument constructor
 at [Source: (BufferedInputStream); line: 1, column: 71] (through reference

[2020-09-30 19:59] MercilessWinna opened #55 "Getting hit by API Rate Limit Exceeded Exceptions unexpectedly"
Here's the process ..

The following sits inside a @BeforeClass ..

`TestRail testRail = TestRail.builder("endpoint", "username", "password").build();`
`Run newTestRun = testRail.runs().add(24, new Run().setSuiteId(9694).setName("Automated Regression Suite")).execute();`
`List<Test> tests = Collections.unmodifiableList(testRail.tests().list(newTestRun.getId()).execute());`
`List<ResultField> custo

[2020-12-11 16:14] aqaexplorer opened #59 "Permission to push"
Hi, I am trying to push the branch to your repo to do a pull request bur receives such error:

ERROR: Permission to codepine/testrail-api-java-client.git denied to aqaexplorer.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Can you please give me permissions to push? Or was it done intentionally?

[2020-12-14 11:22] alex-i-rybkin opened #60 "TestRail 6.7: testRail.cases().list() returns first 250 cases instead of all cases in the suite"
Need to add adequate support for TestRail 6.7+.
This version of TestRail adds pagination to the testrail API: https://blog.gurock.com/announcing-testrail-6-7/
It is expected for testRail.cases().list() to return a complete set of cases in the requested suite.
Actually, it returns the first 250 cases by the current implementation and pagination needs to be handled somehow inside the library

`Pagin

[2021-01-20 13:37] #50 closed

[2021-01-20 13:37] aqaexplorer commented on #50
not actual

[2021-02-04 03:08] mstumberger opened #63 "com.codepine.api.testrail.TestRailException: 400 - Field :case_ids is not a valid ID."
Hey,
recently we updated to TestRail v6.6.1.1166

When I want to add specific test cases to run like described in [api documentation](https://www.gurock.com/testrail/docs/api/reference/runs#updaterun)

[code]

I get the following message:
[code]

Can someone else also reproduce and confirm ?

Best regards,
Marko

[2021-02-15 17:39] RazmikDev commented on #60
Hi, there ✋ ! Is anyone working on the issue?

[2021-03-12 04:01] manoj18091 opened #64 "Bump log4j from log4j to log4j-core"
log4j fails in WhiteSource scan, need to update it to log4j-core

[2021-05-10 06:49] Zeloslaw opened #65 "How to add test run into test plan?"
Hello,
I have a problem,
I don't know how to add test run into test plan.
I tried the solution found on the internet:
`TestRail testRail = TestRail.builder(ConfigProperties.getTestRailUrl(), ConfigProperties.getTestRailUser(), ConfigProperties.getTestRailPassword()).build();
        Plan.Entry.Run run = new Plan.Entry.Run();
        run.setName("AQA test");
        Plan.Entry entry = new Plan.Entr

[2021-05-10 08:45] Zeloslaw commented on #65
it was my mistake, i used closed test plan id

[2021-06-21 15:39] Devilboy999 opened #66 "add_run_to_plan_entry API End point is adding extra runs when using config IDs"
While adding a run to a plan entry using [add_run_to_plan_entry](https://www.gurock.com/testrail/docs/api/reference/plans#addruntoplanentry) endpoint, extra runs with existing config _ids are being created with the combination of newly passed config_ids.
While in UI there is option to check/uncheck the runs but from API, I am unable to find one
![API](https://user-images.githubusercontent.com/4512

[2021-06-21 15:54] Devilboy999 commented on #66
It looks like this is the wrong platform for this to post, closing it

[2021-06-21 15:54] #66 closed

[2021-09-20 13:40] maksimsarychau opened #67 "TestRail API was changed - may you update it to the latest structure?"
Hello.
TestRail release the new API everywhere last weekend.
Changes are based on https://discuss.gurock.com/t/bulk-api-endpoint-changes-coming-soon/19537
And now all parses from this library stop worked. :(
I got errors like:
Caused by: com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instance of java.util.ArrayList out of START_OBJECT token
 at [Source: (BufferedInputStre

[2021-09-20 17:58] cameroncooks-branch commented on #67
+1 same issue here. If anyone creates a patch for this it would be greatly appreciated

[2021-09-20 20:41] SaintDuriel commented on #67
Seconded, Unable to parse any responses from Test Rail with the latest update to their API.

[2021-09-21 08:45] kbilokura commented on #67
+1 same issue here

[2021-09-22 15:59] maksimsarychau commented on #67
@kunal546 @apolaskey @ChenChiaHung as contributors - may you take a look?

[2021-09-23 09:17] pwebster-cpi commented on #67
+1
For example, the `get_cases` endpoint now returns JSON like this:
[code]
So the root node is not an `instanceof ArrayNode` and so can't be deserialized into a `List`? (I'm just guessing.)

[2021-09-23 10:35] maksimsarychau commented on #67
@pwebster-cpi yep. But not only for get_cases.
Following have to be updated as well.
get_cases
get_runs
get_results
get_tests
get_results_for_case
get_results_for_run
get_plans
get_projects
get_sections
get_milestones
get_history_for_case
get_attachments_for_case
get_attachments_for_run
Get_attachments_for_plan

But in some cases the old List is still actual.

[2021-09-23 11:09] kbilokura commented on #67
Hi @maksimsarychau, I'm just interesting if you are going to use another library for testrail integration or wait for the fix?

[2021-09-23 11:17] maksimsarychau commented on #67
Hi @kbilokura, I didn't find any up-to-date and with such wide functionality :( If you find something - please let me know. I'm really waiting for a fix but in parallel trying to add direct API calls in my code as a workaround (without this library)

[2021-09-23 23:28] pwebster-cpi commented on #67
I just saw this fork with changes made yesterday:
https://github.com/pablo-iglesias/testrail-api-java-client

I have not yet looked closely at it, but there is a new file named "PageDeserializer.java". Sounds promising...

[2021-09-24 01:30] maksimsarychau commented on #67
Thank you @pwebster-cpi
Just checked - it works for me with get_plans, get_projects, get_sections
But for other calls like List of get_cases or get_results showing the same error.
May you check as well?
Maybe I missed something in the updated syntax.

[2021-09-29 19:51] cameroncooks-branch commented on #67
The https://github.com/pablo-iglesias/testrail-api-java-client fork worked for me, with a small bug fix re: _next URL's in the Request.java execute() method

[2021-09-29 19:53] maksimsarychau commented on #67
@pwebster-cpi Did you have a chance to check?
I found that solution from @pablo-iglesias works only for totally standard Testrail objects.
But if there is any custom field in any of the required List - there is a problem with parsing.
Logic with a bug starts from this line:
https://github.com/pablo-iglesias/testrail-api-java-client/blob/39d5e7d78f768220ccacdb16202115900d08899c/src/main/java/com/co

[2021-09-29 20:01] maksimsarychau commented on #67
@cameroncooks-branch
May you share your fix?
Did you try to process with any custom fields in get_cases or get_results ?

[2021-09-29 20:07] cameroncooks-branch commented on #67
I only needed the fix because my baseurl is https://www.demo.test/testing?/api/v2/
and the _next link was /api/v2/some/testrails/url

so when combined by getURL it would end up being https://www.demo.test/testing?/api/v2//api/v2/some/testrails/url

just a problem with not using an actual base baseurl

[2021-10-01 11:20] pablo-iglesias commented on #67
Hey,
I have pushed a fix for both issues, custom fields, and strip api part from _next URL.
**Be adviced that I will erase this fork in a few days.**
Kind regards

[2021-10-01 11:48] maksimsarychau commented on #67
Really big thanks @pablo-iglesias. It works!
Just one small problem with a test G_casesExists_W_getCasesWithFilter_T_verifyFilterQueryAndCases() during mvn install.

Btw, where to I can order a coffee or cake (beer) for you? :)

[2021-10-01 13:13] pablo-iglesias commented on #67
Lol, you are welcome.
Sorry, I forgot to add the json file, I've just pushed it.
Remember, I will erase the fork in a few days.

[2021-10-04 19:15] maksimsarychau commented on #67
Thanks for your help!
One more fix and pull request is available there:
https://github.com/codepine/testrail-api-java-client/pull/68
Does anybody have permission to merge?

[2021-10-08 04:36] kunal546 commented on #67
Sorry for the delay. I have merged this and made a new release v2.0.2.

[2022-04-26 19:14] Dietmar1963 commented on #30
Hi @kunal546

I am trying to  update a test case

Case(id=2, title=Add numbered list to inline table within an document, sectionId=1, typeId=11, priorityId=2, milestoneId=null, refs=null, createdBy=1, createdOn=Tue Apr 26 17:01:17 CEST 2022, updatedBy=1, updatedOn=Tue Apr 26 21:05:18 CEST 2022, estimate=8m, estimateForecast=7m 36s, suiteId=1, customFields={mission=test, automation_type=null, tc_au

[2022-04-26 19:42] Dietmar1963 commented on #30
Hi @kunal546

I am trying to update a test case, but it does not work. I am using the cloud based evaluation instance of testrail.

`public class tr {

    public static void main(String[] args) {
        final String USERNAME = "xxx@live.com";
        final String PWD = "xxx";
        final String URL = "https://xxx.testrail.io/";
        final Integer testCaseId = 2;

        // create a TestRai

[2022-06-06 10:21] MateuszAlcumus opened #71 "How to update CustomFields"
Hello, I am struggling to understand how to update CustomFields, when creating new TestCase

[code]

Now I know that my customCaseFields, contains field called 'steps' (index 1 in the list)

How can I set value for this custom field when adding new test case?

[2022-06-08 11:14] AbdelrhmanHamouda commented on #71
Hello,
I am not the maintainer of this project, so keep that in mind. That being said, this is how i'm creating a testcase with custom fields in addition to other few fields that are interesting to me.

[code]

Hope this helps.

[2022-06-08 12:20] MateuszAlcumus commented on #71
Thank you for that, really helpful, could you please provide content of the 'setCustomField' method? Regards

[2022-06-10 13:32] AbdelrhmanHamouda commented on #71
Hello,
I missed including it. my bad.

implementation of `setCustomFields` called by `createTestCase`
[code]

implementation of `getCustomFields` called by `setCustomFields`
[code]

The `testRail` object is just a simple object that is initialised earlier
[code]

[2022-06-13 17:04] eck-song commented on #67
Hi.

I am having the same problem with the revised version 2.0.2.
[code]

The code I use is as below.
`val milestone: MutableList<Milestone> = testrail.Milestones().list(4).execute()`

How should I use it?

@kunal546

[2022-06-22 14:35] BrianChristman commented on #25
@kunal546
@fabiohast
Any updates on this getting fixed?

I'm not seeing that this library has support for returning the list of submilestones.

TestRail states that their get_milestone should return a list of submilestones
https://www.gurock.com/testrail/docs/api/reference/milestones/#getmilestone

Using Postman
https://x.testrail.io/index.php?/api/v2/get_milestone/62

{
    "id": 62,
    "name":

[2022-07-13 23:16] jshtaway commented on #27
how do you give this new entry a name!?

[2022-09-02 05:02] kguruge opened #73 "log4j version used has security vulnerabilities"
log4j 1.2.17 version used in the repository has been detected with security vulnerabilities which makes the
testrail-api-java-client also vulnerable

[2022-09-27 07:57] AbdelrhmanHamouda opened #74 "is the project still actively maintained?"
Hello,
This is a very nice project and an initiative wrapper around the testrail api. We do utilise it in my current organisation and we think it is awesome. based on the issues and PR activity, it is starting to feel that the project is not active. Can you kindly clarify this point?
thanks in advance,

[2022-09-29 19:11] Zahorodnii commented on #74
@AbdelrhmanHamouda Hello, I think this project is dead and no longer maintained. You can take part or use a new, actively developing project: [TestRail Java API Client](https://gitlab.com/testrail/java-api-client)

[2022-09-29 20:41] AbdelrhmanHamouda commented on #74
thanks @Zahorodnii for the nice pointer,  will check it out for sure!

[2022-10-16 12:09] Zahorodnii commented on #74
Hi @AbdelrhmanHamouda, have you had the opportunity to look at the [TestRail Java API Client](https://gitlab.com/testrail/java-api-client) project? It would be great if you could share your feedback, thanks)

[2022-10-16 15:30] AbdelrhmanHamouda commented on #74
Hello,
Unfortunately no!
I did check the project but didn't get a chance to play with it.

The library is part of a wide spread used internal tooling in the organization so changing things require planning.

[2022-10-17 07:47] onurozardic-pointr commented on #74
Hi @AbdelrhmanHamouda : Maintainer did not change repository for a year, you can use it 'as is'. Some of the forks have addressed shortfalls of the existing code , you can use & cherry pick some of the developments to satisfy your requirements.

[2022-10-17 11:31] Zahorodnii commented on #74
Hello, @onurozardic-pointr. I think it would be more promising to use a [TestRail Java API Client](https://gitlab.com/testrail/java-api-client). This is not a fork, this is a completely new library with a different architecture and a more convenient interface.